@keyframes border-gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.container-aside {
  width: 240px;
  min-width: 240px;
  max-width: 240px;
  transition: all 0.5s ease;
  position: absolute;
  left: 0;
  height: calc(100vh - 70px);
  height: calc(100dvh - 70px);
  top: 70px;
  left: -100%;
  box-shadow: 20px 20px 30px 10px rgba(1, 42, 112, 0.1);
  z-index: 1000;
  background-color: #fff;
}
.container-aside .sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  position: relative;
}
.container-aside .sidebar .container-nav {
  width: 100%;
}
.container-aside .sidebar nav {
  width: 90%;
  margin-left: 40px;
}
.container-aside .sidebar nav ul {
  display: grid;
  margin-top: 0;
  padding-left: 0;
}
.container-aside .sidebar nav li {
  list-style: none;
  margin: 0 !important;
}
.container-aside .sidebar nav li a label {
  min-width: 160px;
  display: flex;
  height: 40px;
  cursor: pointer;
  align-items: center;
}
.container-aside .sidebar nav button {
  display: none;
}
.container-aside .salirBtn {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.container-aside .salirBtn button {
  width: 100%;
  height: 50px;
  background-color: #3d65fd;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.container-aside .salirBtn button:hover {
  background-color: #3d65fd;
}

@media screen and (max-width: 799px) {
  .container-aside .salirBtn {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
@media screen and (max-width: 799px) {
  .container-aside.sidebar-header {
    left: 0%;
    top: 71px;
    z-index: 1000;
    position: fixed;
    backdrop-filter: blur(10px);
    position: fixed;
  }
  .container-aside.sidebar-header .sidebar ul li {
    margin: 0;
  }
}
