@mixin center-x {
    display: flex;
    justify-content: center;
}

.btn-submit-basic {
  @include center-x;
  height: 42px;
  position: relative;
  width: 100%;

  &,
  * {
    transition: 500ms ease all;
  }

  button {
    background-color: transparent;
    border: 1px solid  rgba(#1c1c1c, 0.5);
    border-radius: 6px;

    color: #3d65fd;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    height: 100%;
    max-width: calc(333px / 1.5);
    outline: none;
    position: relative;
    width: 100%;

    &:active {
      background-color: rgba(#3d65fd, .7);
      transform: scale(0.9);
      color: #fff;
    }

    &:disabled {
      background-color: rgba(#3d65fd, .3) !important;
      color: #fff;
      cursor: not-allowed;
    }

    &:focus {
      background-color: rgba(#3d65fd, .7);
      color: #fff;
    }

    &:hover {
      background-color: rgba(#3d65fd, .9);
      color: #fff;
    }
  }
}